<p>Hi <%= @username %>,</p>
To reset your password, copy the Code below:
<br>
<p><span style="font-size: 20px; font-weight: bold;"><%= @otp %></span></p>

If you did not request your password to be reset, just ignore this email and your password will stay the same.

