selectors = {
	'IMAGE_SELECTOR': '',
	'PRODUCT_PRICE_SELECTOR': '',
	'DELIVERY_PRICE_SELECTOR': '',
	'RATING_SELECTOR': '',
	'NUMBER_OF_REVIWES_SELECTOR': '',
	'SEARCH_BAR': '',
	'HEADER_SELECTOR': ''
}